
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}


p{
    color:#8f8f8f;
}
/* Headings */
.big-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;

}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;

}
/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}
.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.download{
    margin: 2.5rem 3px 0;
}

.title-image{
    width: 18%;
    transform: rotate(25deg);
    margin-top: 1.5rem;
    position: absolute;
    right: 25%;
}

/* Feature Section */
#features{
    position: relative;
    z-index: 1;
    
}

.feature-box{
    padding: 5%;
    
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.icon:hover{
    color: #ff4c68 ;
}


/* Testimonials Section */
#testimonials{
    background-color: #ef8172;
   
}

.testimonial-text{
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 3%;
}

.testimonials-image{
    border-radius: 100%;
    width: 12%;

}


/* Press section */
#press{
    padding: 7% 0;
    background-color: #ef8172;
}

.press-logo{
    width:15%;
    margin: 10px 25px 10px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;

}


/* footer section */

#footer{
    padding: 7% 0 2%;
}

.footer-icon{
    padding: 1%;
}

/***************************/
@media (max-width:1028px){
    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0);
    }
    #title .container-fluid{
        text-align: center;
    }
    .big-heading{
        font-size: 10vw;
    }
    h3{
        font-size: 5vw;
    }
    .btn{
        font-size: 4vw;
    }
    p{
        font-size: 3vw;
    }
    #title .container-fluid{
        padding: 7% 75px;
    }
    .testimonial-text{
        font-size: 5vw;
    }
    .navbarItem{
        font-size: 5vw;
    }
    
}

/* @media (max-width:920px){
    
} */